@page "/counter"
@using Movies
@inject Movies.MoviesClient MoviesClient 

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @message</p>

<input @bind="query" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    string message;
    string query;
    private async Task IncrementCount()
    {
        Console.WriteLine(query);
        var searchRequest = new SearchRequest
        {
            Query = query
        };
        var searchResult = await MoviesClient.SearchAsync(searchRequest);
        Console.WriteLine(searchResult);
    }

}